body{margin:0; padding:0;min-width:300px;font-size:1em; font-family: arial;}
@font-face {font-family: oxygenbold;src: url(../fonts/oxygenbold.woff);src:url(../fonts/oxygenbold.woff) format('woff'), url(../fonts/oxygenbold.ttf) format('truetype');}
@font-face {font-family: oxygenlight;src: url(../fonts/oxygenlight.eot);src:url(../fonts/oxygenlight.woff) format('woff'), url(../fonts/oxygenlight.ttf) format('truetype');}
@font-face {font-family: oxygenregular;src: url(../fonts/oxygenregular.eot); src:url(../fonts/firasans_bold.woff) format('woff'), url(../fonts/oxygenregular.ttf) format('truetype');}

.oxygenregular{font-family:oxygenregular;color:#3a437e;}
.oxygenbold{font-family:oxygenbold;color:#3a437e;}
.oxygenlight{font-family:oxygenlight;color:#3a437e;}
a{text-decoration:none;}
ul,ol{list-style: none; padding:0; margin:0;}
h3,h4,h5{width:90%;margin:5%;font-size:2em; text-align:center;}
header{background: #9a4b86; position:fixed;top:0; left:0;height:85px;max-height:85px;color:#FFF;width:100%;max-width:100%;z-index:5;}
header span{width:100%;display: block; font-size:0.8em;position:absolute;z-index:;bottom:11%;left:2%;padding-left:30px;}
.cont_header{width:100%;background:#3a437e;color:#FFF;height:45px;max-height:45px;overflow: hidden;position:relative;padding:5px 0;-webkit-box-shadow: 2px 10px 18px -10px rgba(0,0,0,0.69);-moz-box-shadow: 2px 10px 18px -10px rgba(0,0,0,0.69);box-shadow: 2px 10px 18px -10px rgba(0,0,0,0.69);}
.cont_header ul.contact_icons{float:left;width:100%;align-items: center;display:flex;margin-top:10px;padding-left:30px;}
.cont_header ul.contact_icons li{display:inline-block;}
.cont_header ul.contact_icons li a{text-decoration: none;color:#FFF;font-size:1em;display:block;}
.cont_header ul.contact_icons li:last-child{margin-left:0%; padding-left:15px;}
.cont_header a.btn_menu{position:absolute;top:16%;right:1%; padding:10px 20px; text-transform:uppercase;background-color:#919191;color:#FFF;z-index:3;padding-left:50px;}
.main_wrapper{position:relative;}
.cont_header a.btn_menu.closed{background-image:url(../img/burguer.png); background-repeat: no-repeat; background-size:18% 40%; background-position:7px 12px; }
.cont_header a.btn_menu.opened{background-image:url(../img/cross.png); background-repeat: no-repeat; background-size: 17% 61%;background-position: 8px 8px;padding-left:33px;}
header nav{width:400px;overflow:hidden;background:#3a437e;position:absolute;right:-400px;z-index:3;display:block;padding:50px 0 50px;height:580px;}
header nav ul{width:100%;} 
header nav ul li{float:left;width:80%;padding-right:10px;margin-bottom:10px;}
header nav ul li a.btns_menu{display:block; text-decoration:none;width:100%;padding:10px;text-align: right;color:#FFF;text-transform: uppercase; font-size:1.1em;font-family:oxygenlight;}
header nav ul li a.btns_menu:hover, .selected_c{background:#9a4b86;}

.phone_icon{width:20px;height:20px;}
.phone_icon img{width:100%; height:100%;}
.email_icon{width:25px;height:15px;}
.email_icon img{width:100%; height:100%;}
section{width:100%; position:relative;padding:85px 0 30px 0;overflow:hidden;}
.logo_flot{position:absolute; top:15%; left:4%; width:200px; height:auto;z-index:3;}
.logo_flot img{width:100%;height:100%;}
article{width:90%;margin:0 auto;padding:0 3%;}
article h2{width:100%;text-align:center;font-size:2.5em;color:#49519b;}
article .blocks_cont{width:100%; overflow:hidden;display: flex;
  justify-content: center;/*align-items: center;*/margin-top:5%;}
article .blocks_cont .block{width:45%;padding:2%; display:inline-block; }
article .blocks_cont .block p{margin:2% 0;text-align: justify;line-height:1.4em;}
article .blocks_cont .block span.icon{width:80px; height:80px; margin:0 auto; display:block; 
 margin-bottom:5%;}
article .blocks_cont .block_t{width:70%;padding:2%; display:inline-block; ;overflow:hidden;}
article .blocks_cont .block_t .img_t{width:50%;float:left;margin-top:3%;max-width:50%;}
article .blocks_cont .block_t .img_t img{width:100%; height:100%;}
article .blocks_cont .block_t p{max-width:47%; float:left;padding:0 0 0 3%;margin:3% 0 0px;line-height: 1.4em; text-align:justify;}
.brleft{border-left:1px solid #3a4181;}
article .blocks_cont .block_t  h3{width:100%; margin:0 0 2% 0; color:#49519b;text-align: left;}
.block_t_r{width:25%!important;float:left;}
article .blocks_cont .block_t span.sub_{color:#9a4b86;float:left;width:100%;}
.img_t{width:50%;}
article .blocks_cont .block_t h4{font-size:1.3em;font-weight:bold;color:#49519b;text-align: left;margin:0 0 2% 0;float:left; width:100%;}
article .blocks_cont .block_t a.leer_mas{padding:10px 15px; text-align: center; color:#FFF;background:#3a437e; float:left;margin:10% 0 0 3%;}
article .blocks_cont .block_t ul.news{width:100%; overflow:hidden;margin-top:8%;float:left;}
article .blocks_cont .block_t ul.news li{float:left;margin:5% 0;}
article .blocks_cont .block_t ul.news li a{display:block; color:#666;text-align: justify;}
article .blocks_cont .block_t ul.news li a:hover{text-decoration:underline;}
article .blocks_cont .block_t ul.news li span{width:100%;}
article .blocks_cont .block_t ul.news li span.autor{margin-top:1%;color:#9a4b86;float:left;}
article .blocks_cont .block_t .redes_m{float:right;margin:12% 1% 0 0%}
article .blocks_cont .block_t .redes_m a{float:left; width:20px; height:20px; }
article .blocks_cont ul.btns_consejo{width: 30%;display: inline-block;margin-right:2%;}
article .blocks_cont ul.btns_consejo li{width:100%;float:left;margin-bottom:5%;}
article .blocks_cont ul.btns_consejo li a{display:block; padding:20px 10px;text-align: center;background:#3a437e;color:#FFF;text-transform:uppercase;}
article .blocks_cont ul.btns_consejo li a.active_consejo{background:#9b4987;}
article .blocks_cont .profile{width:70%; display: flex;}
article .blocks_cont .profile .img_c{width:50%; display:inline-block;margin-right:3%;}
article .blocks_cont .profile .img_c img{width: 100%;height:100%;}
article .blocks_cont .profile .resena{width:50%; display:inline-block;}
article .blocks_cont .profile .resena span{width:100%;display:block;}
article .blocks_cont .profile .resena p{line-height: 1.4em;text-align: justify;}

article ul.nums{width:100%;overflow:hidden;display:flex;align-items: center;}
article ul.nums li{width:30%;padding:3%;display: inline-block;}
article ul.nums li span.img{width:120px; height:120px;display:block; margin:0 auto;}
article ul.nums li span.titles{width:100%; display:block; margin:0 auto; text-align: center;font-size: 1.2em;}
article ul.nums li span.numbers{width:100%; text-align: center; font-size:5em;margin:0 auto; display:block;margin-top:3%;font-weight: bold;color:#3a4181;font-family: oxygenbold;}
article ul.nums li span.numbers:before{content:'+';}

.descargas{margin:0 auto;display:block;width:30%; padding:20px 10px; color:#FFF;background:#9a4b85;text-align: center;}
.ico1{background-image:url(../img/ico1.png); background-repeat:no-repeat;background-size:contain;}
.ico2{background-image:url(../img/ico2.png); background-repeat:no-repeat;background-size:contain;}
.nomtop{margin-top:-2%!important;}
.n_ico1{background-image:url(../img/ico1_3.png); background-repeat:no-repeat;background-size:contain;}
.n_ico2{background-image:url(../img/ico1_1.png); background-repeat:no-repeat;background-size:contain;}
.n_ico3{background-image:url(../img/ico1_2.png); background-repeat:no-repeat;background-size:contain;}
article .img_diagrama{width:100%; height:auto;}
article .img_diagrama img{width:100%; height:100%;}
.phone1, .phone2{display:block;margin-top:px;}
.bg1{background-color:#ebecf1;}
.bg2{background-color:#cca5c3;}
.np1{padding:30px 0 30px 0;}
.fb{background-image:url(../img/fb.png); background-repeat:no-repeat;background-size:cover;background-position:0 0;}
.tw{background-image:url(../img/tw.png); background-repeat:no-repeat;background-size:cover;background-position:0 0;}
.lnk{background-image:url(../img/lnk.png); background-repeat:no-repeat;background-size:cover;background-position:0 0;}
.profile_mobile{display:none;}
header ul.btns_call_mobile{display:none;}
.bg_on{width:100%; display:block; position:relative; background: url(../img/bg_cont.png); background-repeat:no-repeat; background-position:0 0; background-size:cover;}


.pant_1{width:100%; height:100%; position:absolute;background:#9b4987;opacity:0.97;z-index:-1;}
#contacto{-webkit-box-shadow: 2px 10px 18px -10px rgba(0,0,0,0.69);-moz-box-shadow: 2px 10px 18px -10px rgba(0,0,0,0.69);box-shadow: 2px 10px 18px -10px rgba(0,0,0,0.69);}
.pant_2{width:100%; height:100%; position:absolute;background:#3a4181;opacity:0.97;z-index:-1;}
.nopadding1{padding:0!important;}
.txt-c{width:65%; margin:0 auto;text-align: justify;display:block;margin-bottom:20px;color:#434343;}

/***********************/
/****listado de programas******/
article .row_titulo{width:99.5%; display:block; overflow:hidden; height:auto; padding:10px 0 0 10px;background:#e0e0ec;}
article .row_titulo span{float:left;width:33%; max-width:33%;text-align:left;font-size:1.2em;padding:10px 0;}
article .row_titulo span:before{content: url(../img/arrow_down.png);}
article ul.programas{display:block; width:100%; }
article ul.programas li{width:100%; display:flex;align-items: center;}
article ul.programas li span{width:31%;max-width:33%;display: inline-block;font-size: 0.9em;text-align: left;padding:10px;}
article ul.programas li span.num{width:1%;display: inline-block;font-size:0.8em;color:#434343;}
article ul.programas li a{width:31%;max-width:33%;display: inline-block;font-size: 0.9em;text-align: left;padding:10px;color:#434343;word-wrap: break-word!important;}
article ul.programas li a:hover{text-decoration: underline;}
ul.programas li:nth-child(odd){background:#FFF;}
ul.programas li:nth-child(even){background:#e7e9ff}
a.lista_c{width:20%; margin:0 auto; display:block; margin-top:3%;background:#3a4181; color:#FFF;  text-align: center; text-transform: uppercase;padding:10px 20px;}
article .cont_names{width:32%; max-width: 31%;display:inline-block;overflow:hidden;margin-right:10px;}
article .cont_names span.title_top{width:100%; height:auto; background:#dfe0eb; color:#49519b;font-size:1.2em;padding:20px;display:block;}
article .cont_names ul.padron{display:block; width:100%; }
article .cont_names ul.padron li{width:100%; display:flex;align-items: center;}
article .cont_names ul.padron li span{width:98%;max-width:99%;display: block;text-align: left;padding:10px;font-size:0.9em;}
article .cont_names ul.padron li span.num{width:1%;display: inline-block;font-size:0.8em;color:#434343;}
article .cont_names ul.padron li:nth-child(odd){background:#FFF;}
article .cont_names ul.padron li:nth-child(even){background:#e7e9ff}
.logos{width:10%; max-width:25%;}
.logos img{width:100%; height:100%;}


/*****************/
/*form contcato*/
.form_cont{width:100%; display: block;align-items: top;}
.form_cont form{padding:0px 0 20px;}
.form_cont ul{display:inline-block; width:40%; max-width: 46%;margin-left:5%;}
.form_cont ul li{color:#FFF;font-size:0.7em;margin-bottom:10px;}
.form_cont input{width:95%; height:30px;font-size:1.2em; background: transparent;
    border: none; border-bottom:1px solid #FFF;margin-bottom:15px;color:#FFF; font-size:1.2em;}
.form_cont input::placeholder{color:#FFF; font-size:1.2em;font-family:oxygenlight;}
.form_cont input[type="submit"].btn_enviar_m{float:right;padding:10px 20px;text-align: center; background:#3a4181;color:#FFF;width:20%; border-bottom: none!important}
#contacto p{width:35%;display:block;margin-left:5%;color:#FFF;text-align: justify;margin-top:5%;}

.nwlist{width:46%;display:inline-block;margin-right:14px;}
.clr_rose{color:#9b4987;}

ul.logos_reel{width:100%; height:auto; display:block;}
ul.logos_reel li{width:23%; margin-right:10px; display:inline-block;text-align: center;}

.txt1{width:45%; display:block;font-family:oxygenlight;font-size:1.3em; color:#FFF;position:absolute;z-index:3; bottom:30%; left:5%;}
.txt2{width:45%; display:block;font-family:oxygenlight;font-size:0.9em; color:#FFF;bottom:11%; left:5%;position:absolute;z-index:3;}
.fts1{font-size:21px;}
/*#padron_evaluadores{padding-top:0!important;}*/


footer{width:100%; position:relative;padding:90px 0 30px 0;overflow:hidden;}
footer img{width:100%; height:100%;}
footer .left_f{width:55%; max-width:55%;float:left;}
footer .left_f .logo_bco{width:200px; height:auto;margin:5% 0 0 25%;}
footer .left_f .logo_bco img{width:100%; height:auto;}
footer .left_f .adress{width:100%; display:block;margin:10% 0 0 25%;}
footer .left_f .adress span.ico{display:inline-block;width:20px; height:20px;margin-right:20px;}
footer .left_f .adress span.text{display:inline-block;color:#FFF;width:250px;font-size:1em;}
footer .right_f{width:30%; max-width:30%;float:right;}
footer .right_f ul{width:80%; margin-top:25%; display:block;}
footer .right_f ul li{width:100%; display:block;padding:5px 0;}
footer .right_f ul li a{color:#FFF; font-family:oxygenlight;font-size:1em;}
footer .rights{width:100%; height:auto; text-align: center;float:left; margin:2% 0; color:#FFF; font-family: oxygenlight;font-size:14px;}
.email_response{width:100%; height:100%; background:#000;opacity:0.9;position:absolute;color:#FFF; font-size:1.5em;display:none;}
#slider{padding-bottom:0;}
.screen_slider{position:absolute;width:100%; height:100%; background:#000;z-index:2;opacity:0.6;}
.phone_foot{width:100%;display:block;color:#FFF;padding-left:20px;background-image:url(img/phone.png);background-repeat:no-repeat; background-position:0 0; background-size: contain;}
.email_foot{width:100%;display:block;color:#FFF;}
.phone_f{display:inline-block;font-size:1em;color:#FFF;}
.mtop_adr{margin-top:3%!important;}
.answer{width: 70%;margin: 0 auto;display: block;margin-top:12%;color: #FFF;font-size: 1.2em;text-align: center;}
.close_contacto{float:right; color:#FFF;font-size:1em; margin:2% 2% 0;}
.back{width:auto; display:block; margin-left:5%; padding-left:30px; background-image: url(../img/arrow_left.png); background-repeat:no-repeat; background-position:0 0;}
.img_cont_head{width:100%; height:auto; position:relative;z-index:1;}
span.header_title {width: 520px;display: block;position: absolute;z-index: 4;left: 37%;font-size: 2.3em;top: 50%;color: #FFf;text-align: center;}
.menu_int_cont{position:relative; overflow:hidden; width:100%;margin-bottom:30px; }
.menu_int_cont ul.update{float:right;}
.menu_int_cont .back{float:left;}


@media screen and (max-width:1200px) and (min-width:769px){
.txt1{font-size:1em;width:70%;bottom:20%;}
.txt2{font-size:0.8em;width:60%;bottom:3%;}
}


@media screen and (max-width:768px) and (min-width:400px){
article .cont_names{width:100%;max-width: 100%;margin-bottom:30px;}
.profile_mobile{display:block;overflow:hidden;}
.profile{display:none!important;}
.cont_header a.btn_menu{padding-right:0!important;text-indent: -999999px;background-size:17% 60%;background-position: 7px 10px;padding-left:40px;}
.cont_header a.btn_menu.closed{background-size:60% 40%; padding-left: 40px;}
.cont_header a.btn_menu.opened{background-size:60% 60%;background-position: 8px 8px;padding-left: 40px;}
header nav ul li{width:95%;}
.phone1, .phone2, .email{display:none!important;}
article .blocks_cont{display:block;}
article .blocks_cont .block{width:100%;margin:2% 0;}
article ul.nums{display:block;}
article ul.nums li{display:block;width:100%;margin-bottom:10%;}

article .blocks_cont .block_t{width: 96%;}
article .blocks_cont .block_t .img_t, article .blocks_cont .block_t p{width:98%;max-width:98%;padding-left:0;text-align: justify;}
article .blocks_cont .block_t .redes_m{margin:13% 3% 0 0%}
.block_t_r{width:100%!important;}

article .blocks_cont ul.btns_consejo{width: 100%;}
article .blocks_cont .profile_mobile .img_c{width:100%; float:left;margin-right:0%;margin-bottom:5%;}
article .blocks_cont .profile_mobile .img_c img{width:100%; height:100%;}
header ul.btns_call_mobile{display:flex;align-items: center;position:absolute; z-index:-1;width:100%;top:0;}
header ul.btns_call_mobile li{width:50%; max-width: 50%;background:#3a437e;border-top:1px solid #FFF;}
header ul.btns_call_mobile li:first-child{border-right:2px solid #FFF;}
header ul.btns_call_mobile li a{display:block; padding:10px 5px; text-align: center;font-size:1.2em;color:#FFF;}
a.lista_c{width:80%;}
.descargas{width:60%;}
.logo_flot{top:30%;}
#contacto p{width:90%;}
ul.logos_reel li{width:100%;display:block;margin-bottom:15px;}
.form_cont ul{width:100%; margin-bottom:15px;max-width:90%; display:block;}
.txt1{font-size:0.9em;width:90%;bottom:20%;}
.txt2{display:none;}
}