body{width:100%;margin:0;padding:0;max-width: 100%;overflow-x: hidden;}
@font-face {font-family: oxygenbold;src: url(../../fonts/oxygenbold.woff);src:url(../../fonts/oxygenbold.woff) format('woff'), url(../../fonts/oxygenbold.ttf) format('truetype');}
@font-face {font-family: oxygenlight;src: url(../../fonts/oxygenlight.eot);src:url(../../fonts/oxygenlight.woff) format('woff'), url(../../fonts/oxygenlight.ttf) format('truetype');}
@font-face {font-family: oxygenregular;src: url(../../fonts/oxygenregular.eot); src:url(../../fonts/firasans_bold.woff) format('woff'), url(../../fonts/oxygenregular.ttf) format('truetype');}

.oxygenregular{font-family:oxygenregular;color:#3a437e;}
.oxygenbold{font-family:oxygenbold;color:#3a437e;}
.oxygenlight{font-family:oxygenlight;color:#3a437e;}
header{width:100%;position:fixed;top:0;left:0; max-height:75px;background:#FFF; color:#394180;z-index:3;overflow:hidden;padding:10px 0 0 0;-webkit-box-shadow: -13px 5px 74px -9px rgba(0,0,0,1);-moz-box-shadow: -13px 5px 74px -9px rgba(0,0,0,1);box-shadow: -13px 5px 74px -9px rgba(0,0,0,1);}
ul,ol{margin:0; padding:0;list-style: none;}
h1,h2,h3,h4,h5,h6{margin:0; padding:0;font-family:oxygenlight;color:#3a437e;}
a{text-decoration:none;}
/*img{width: 100%; height:100%;}*/
textarea{width:100%; min-height:100px;margin:3px 0 10px;}
/*******************/
/*estilos de login*/
/*******************/
.middle_wrapper{width:100%; height:auto; font-family: arial;}
.login_cont{width:400px; margin:0 auto;margin-top:10%;padding:50px; }
.login_cont .logo{width:80%; height:auto; display:block;margin:0 auto;margin-bottom:30px;}
.login_cont .logo img{width:100%; height:100%}
form{width:200px; margin:0 auto; display:block; overflow:hidden; font-family:oxygenlight; }
form label{width:100%;margin-bottom:5px;}
form input{ margin-bottom:15px;width:88%; display:block;padding:5px 0 5px 20px;border:1px solid #dcdfe3; background:none;font-size:1em;}
form input[type="checkbox"].asoc{width:10px!important;}
form a{width:100%; text-align: right;color:#434343;font-size:0.7em;display:block;}
form a:hover{text-decoration:underline;}
form input.entrar{padding:10px 5px;background:#394180; text-align: center;color:#FFF;font-size:0.8em;width:50%;float:right; margin:10px 0;cursor:pointer;}

/*******************/

header .logo{width:180px; max-width:185px;height:auto;margin-left:2%;float:left;font-size:0.85em;margin-top:5px;}
header span{float:left;margin:20px 0 0 20px;}
header a.close_s{float:right;padding:2px 0 5px 35px;margin-right:20px;text-align: center;background-image:url(../img/cerrar_sesion.png); background-repeat:no-repeat;background-position: 0 0;}
.main_wrapper{width:100%;height:auto;padding-top:70px;display:block;position:relative;background:#e8eaef;}
.menu_cont{width:200px;background:#394180;position:absolute;min-height:800px;z-index:2;font-family:oxygenlight;outline:1px solid red;}
.menu_cont .cont_img{display:block; width:100%; height:auto; position:relative;outline:1px solid red;}
.menu_cont .cont_img span.image{display:block;outline:1px solid red; margin:0 auto;width:150px;
    height:150px;border-radius:150px;overflow:hidden;margin-top:30px;}
.menu_cont .cont_img span.n_usuario{width:100%; text-align:center; font-size:1em; color:#FFF;display:block;margin-top:10px;}
.menu_cont .cont_img a.edit{width:30px; height:30px; position:absolute; bottom:40px;right:25px;}
.menu_cont ul.menu{width:90%; display:block; margin:0 auto;margin-top:50px; color:#FFF;}
.menu_cont ul.menu li{border-bottom:1px solid #FFF; margin-bottom:5px;}
.menu_cont ul.menu li a{display:block; padding-bottom:5px; overflow:hidden; color:#9399c9;font-size:0.8em;font-family:oxygenlight;}
.menu_cont ul.menu li a:hover, a.selected{color:#FFF!important;}
.menu_cont ul.menu li a span.icon{width:20px; height:20px;float:left;margin-right:15px;
	background-image:url(../img/sprite_icons.png); background-repeat:no-repeat; }
/******************************/
/*****iconos de menu admin*****/
/******************************/
.ico1{background-position:0 4px;}
.menu_cont ul.menu li a:hover .ico1, .ico1.selected{background-position:-30px 4px;}
.ico2{background-position:0 -33px;}
.menu_cont ul.menu li a:hover .ico2, .ico2.selected{background-position:-30px -33px;}
.ico3{background-position:0 -79px;}
.menu_cont ul.menu li a:hover .ico3, .ico3.selected{background-position:-30px -79px;}
.ico4{background-position:0 -124px;}
.menu_cont ul.menu li a:hover .ico4, .ico4.selected{background-position:-30px -124px;}
.ico5{background-position:0 -170px;}
.menu_cont ul.menu li a:hover .ico5, .ico5.selected{background-position:-30px -170px;}
.ico6{background-position:0 -216px;}
.menu_cont ul.menu li a:hover .ico6, .ico6.selected{background-position:-30px -216px;}



/*****************************/
/*listado de programas  y evaluadores*/
/*************************************/
.new_programa{width:100%; float:left;overflow:hidden;background:#f2f2f2;}
.new_programa ul{width:100%; height:auto;display:block;/*margin-bottom:5%;*/}
.new_programa ul li{width:48%; display: inline-block;padding:5px;}

.new_evaluador{width:100%; float:left;overflow:hidden;display:none;background:#f2f2f2;}
.new_evaluador ul{width:100%; height:auto;display:block;/*margin-bottom:5%;*/}
.new_evaluador ul li{width:48%; display: inline-block;padding:5px;}

.new_evaluador{width:100%; float:left;overflow:hidden;display:none;background:#f2f2f2;}
.new_evaluador ul{width:100%; height:auto;display:block;/*margin-bottom:5%;*/}
.new_evaluador ul li{width:48%; display: inline-block;padding:5px;}

.new_user{width:100%; float:left;overflow:hidden;display:none; background:#f2f2f2;}
.new_user ul{width:100%; height:auto;display:block;/*margin-bottom:5%;*/}
.new_user ul li{width:32%; display: inline-block;padding:5px;}


.add_programa{width:100%; float:left;overflow:hidden;}
.add_programa ul{width:100%; height:auto;display:block;/*margin-bottom:5%*/;}
.add_programa ul li{width:48%; display: inline-block;padding:5px;}
.add_programa ul li input{width:90%; display:block;padding:5px;}
.add_programa{display:none;}

.add_evaluador{width:100%; float:left;overflow:hidden;}
.add_evaluador ul{width:100%; height:auto;display:block;/*margin-bottom:5%*/;}
.add_evaluador ul li{width:48%; display: inline-block;padding:5px;}
.add_evaluador ul li input{width:90%; display:block;padding:5px;}
.add_evaluador{display:none;}


.add_usuario{width:100%; float:left;overflow:hidden;}
.add_usuario ul{width:100%; height:auto;display:block;/*margin-bottom:5%*/;}
.add_usuario ul li{width:32%; display: inline-block;padding:5px;}
.add_usuario ul li input{width:90%; display:block;padding:5px;}
.add_usuario{display:none;}

.add_asociado{width:100%; float:left;overflow:hidden;display: none;}
/*.add_asociado ul{width:100%; height:auto;display:block;/*margin-bottom:5%}*/
/*.add_asociado ul li{width:48%; display: inline-block;padding:5px;}
.add_asociado ul li input{width:90%; display:block;padding:5px;}
.add_asociado{display:none;}*/

.forms_cont .add_tema{width:100%; float:left;overflow:hidden;display: none!important;}





ul.table_res{width:100%;overflow:hidden;margin-bottom:20px;}
ul.table_res li {height: auto;overflow:hidden;}
ul.table_res li .nom_uni{width:50%;display:inline-block;max-width: 50%; overflow:hidden;}
ul.table_res a{float:right;font-size:0.7em; font-family: 'oxygenlight';padding:1px 20px;width:auto; margin-right:1%;margin-top:3px;display:block;}
ul.table_res li span{float:left;padding:0 5px;width: auto;}
ul.table_res li span.nom_uni{float:left;max-width:60%;padding:1px 0;font-size:0.8em;}
.del_int, .edit_int{background:#394180;color:#FFF;}
ul.paginator{width:auto; float:right; margin-right:3%;}
ul.paginator li{float:left;outline:1px solid #dddddd;}
ul.paginator li a{display:block; padding:3px 10px; color:#3a4181;font-family:'oxygenlight';font-size:0.8em;}
ul.paginator li a:hover, .active_page{background:#3a4181; color:#FFF!important; }
ul.paginator li a.previuos_page{padding:3px 10px;}

/*****************************/
/*listado gestion de usuarios*/
/*************************************/
.cont_fields{width:100%;display: block; overflow:hidden;}
.cont_fields ul{ width:100%;display:block; }
.cont_fields ul li{display:inline-block;width:30%;} 
.cont_fields ul li label{width:100%;display:block;}

/*.radius-left{-webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-top-left: 10px;
-moz-border-radius-bottom-left: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;};
.radius-right{-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-top-right: 10px;
-moz-border-radius-bottom-right: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;};
*/

.wrapper_right{background:#dbdee2;height:auto; width:80%;padding:5px;float:right;margin:30px 50px 0 0;overflow:hidden;position:relative;}
.wrapper_right .header_int{width:98%; padding:10px;background:#FFF;float:left;}
.wrapper_right .header_int h2{border-bottom:1px solid #CCC;padding-bottom:5px;font-size:1.2em;}
.wrapper_right .header_int .search{width: 100%;float:left; margin-top:15px;}
.wrapper_right .header_int .search span{float:left;margin-top:7px;}
.wrapper_right .header_int .search ul{float:left; min-width:300px;margin-left:3%;}
.wrapper_right .header_int .search ul li{position: relative;width:100%;}
.wrapper_right .header_int .search ul li select{width:100%; position:absolute;top:0;height:30px;opacity:0;}
.wrapper_right .header_int .search .add_n_slider{width:30px; height:30px; float:right;margin-right:5%;}
.wrapper_right .header_int .search .add_n_slider img{width:100%; height:100%;}
.wrapper_right .header_int .search .add_item{padding:5px 20px;float:right;margin-right:5%;background:#9b4987;color:#FFF;font-family:oxygenlight;}
.wrapper_right .header_int .search .add_item img{width:100%; height:100%;}
.fake_select{width:90%;padding-right:30px;background-image:url(../img/arrow.png);background-position:top right; height:25px;background-repeat:no-repeat;border:1px solid #dbdee2; text-align: center;padding-top:5px;}
.wrapper_right .forms_cont{width:98%; padding:10px;background:#FFF;float:left;margin-top:10px;position:relative;display:none;}

.wrapper_right .forms_cont .save_btn{width:auto; padding:10px 20px; text-align: center; background:#9b4987;color:#FFF;float:right;font-size:1em;cursor:pointer!important; margin-bottom:10px;}
 .msg{width:100%; height:50px;padding:20px 0; overflow:hidden;position:fixed; bottom:-50px;background:#394180;color:#FFF;z-index:10; font-family:oxygenlight;max-height:50px;display:none;font-size:1.1em;}

 .msg span{width:90%; margin:0 auto; display:block; text-align: center;}
.wrapper_right .forms_cont form{width:100%;float:left;}
.slider_fill{width:100%; float:left;margin-bottom:40px;padding-bottom:20px; border-bottom: 1px solid #CCC;}
.slider_fill .left .img_loaded{width:277px; height:160px; float:right; border:1px solid #CCC;padding:3px;margin-top:-4%;}
.slider_fill .left .img_loaded img{width:100%; height:100%;}
.slider_fill .left, .right{width:48%;float:left;position:relative;}
.slider_fill .left span.indications{margin-top:5px;float:left;font-size:1em;}

.slider_fill .right .sub_text_cont{font-size:0.8em;}





.conteo_char{float:right;}

.cont_r{position: relative;float: left;width: 100%;margin-top: 4px;overflow: hidden;height: 49px;}
.path{width:90%;padding:5px 10px;margin:15px 0 15px 15px;float:left;border:1px solid #dcdfe3;}
.file_upload{position: absolute;bottom: 2%;right: 1%;display: block;z-index: 1;width: 80px;opacity:0;cursor: pointer!important;}
.file_upload_1{position: absolute;bottom: 5%;right: 1%;display: block;z-index: 1;width:115px;opacity:0;cursor: pointer!important;height:43px;}
.file_upload_2{position: absolute;bottom: 5%;right: 1%;display: block;z-index: 1;width:115px;opacity:0;cursor: pointer!important;height:43px;}


.title_sl{width:100%; float:left;font-size:1.2em;}
.btn_cargar{display: block;position: absolute;bottom: 29%;right: 0%;width: auto;background: #394180;color: #FFF;padding:5px 37px;font-size:1em;}
.restablecer{display:block}
.order_box_s{float:left; clear:both; margin-top:15px; width:5%;}
.new_programa{display:none;}
.funct{width:3%; margin-right:1%;}
.clr2{background:#e7e9ff!important;}


/*******************/
/*Llenado de temas y nocitcias*/
/*******************/
.temas_fill{width:100%; float:left;margin-bottom:40px;padding-bottom:20px; border-bottom: 1px solid #CCC;}
.temas_fill .left .img_loaded{width:277px; height:160px; float:right; border:1px solid #CCC;padding:3px;margin-top:-4%;}
.temas_fill .left .img_loaded img{width:100%; height:100%;}
.temas_fill .left, .right{width:48%;float:left;position:relative;}
.temas_fill .left span.indications{margin-top:5px;float:left;font-size:1em;}
.temas_fill .right .sub_text_cont{font-size:0.8em;}




/*******************/
/*Llenado de Asociados*/
/*******************/

.asociado_fill{width:100%; float:left;margin-bottom:40px;padding-bottom:20px; border-bottom: 1px solid #CCC;}
.asociado_fill .left .img_loaded{width:277px; height:160px; float:right; border:1px solid #CCC;padding:3px;margin-top:-4%;}
.asociado_fill .left, .right{width:48%;float:left;position:relative;}
.asociado_fill .left span.indications{margin-top:5px;float:left;font-size:1em;}

.reel_asociados{width:100%; height:auto; padding:20px 0;white-space: nowrap;}
.reel_asociados ul{width:100%;display:block;overflow-x:scroll;max-width:90%;}
.reel_asociados ul li{display:inline-block; width:200px;height:200px; margin-right:15px;}
.reel_asociados ul li span{width:100%; display:block;text-align: center;}
.reel_asociados ul li input{width:10px;display:block;margin:0 auto;text-align: center;}

.reel_asociados ul li span.img_asoc{}
.reel_asociados ul li span.img_asoc img{width:100%; height:100%;}

/*******************/
/*nuevos width's*/
/*******************/
.w1{width:90%;}

/*******************/
/*nuevos margenes*/
/*******************/
.mr{margin-right:20px;}




/*******************/
/*Strenght Meter*/
/*******************/

meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
            
    margin: 0 auto 1em;
    width: 100%;
    height: .5em;
    
    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }


